<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка, брат</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="https://www.x3dom.org/download/x3dom.js"> </script>
    <link rel="stylesheet" type="text/css" href="https://www.x3dom.org/download/x3dom.css">

    <style>
   .fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    margin-top: 5%; /* Отступ сверху */
    margin-bottom: 5%; /* Отступ снизу */
    color: #FFFFFF; /* Цвет подрисуночной подписи */
   }

  </style>
</head>
<body style="background:#172f58 ">
  <figure class="fig">
      <p style="font-size: 130px; font-family: Calibri" >404</p>
     <img src="{{ url_for('static', filename='\img\ax.gif') }}"
          width="240" height="320">
   <figcaption style="font-size: 48px; font-family: Calibri">
    Ну что, отчисляемся?)
   </figcaption>
  </figure>

  <a style="font-size: 20px" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      😰
  </a>

 </body>
</html>


