<!DOCTYPE html>
<html lang="en">
<head>
	<title>Вход</title>
    <style>
   .fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    margin-top: 5%; /* Отступ сверху */
    margin-bottom: 5%; /* Отступ снизу */
   }
  </style>
</head>


{% extends 'base.html' %}

<body>
{% block log_reg %}
    <div class="fig">
        <h1>Вход</h1>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=30) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=10) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
</body>
</html>